/* GLOBAL */

body {
    color: #5a5a5a;
    padding-top: 80px;
}

/* NAVBAR

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}

/* PAINEL GENÉRICO */
.painel-centralizado,
.painel-centralizado-maior{
    margin: auto;
}

@media (min-width: 768px){

    .painel-centralizado{
        width: 40%;
    }
    
    .painel-centralizado-maior{
        width: 70%;
    }

}

/* FOOTER */
footer{
    margin-top: 160px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #000;
    color: #7f8c8d;
}